@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #fff
}

body{
    background: url(back2.jpg);
    background-size: cover;
    height: auto;
}
.container{
    max-width: 500;
    margin:auto;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    background-color:black;
    border-radius:30px ;
    padding:1rem;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
}

.msg-head{
    border: 1p solid darkorchid;
    height: 10%;
    width: 100%;
    border-bottom: none;
    display: flex;
    background-color: #1fd1f9;
    background-image: linear-gradient(350deg, #1fd1f9 0%, #b621fe 74%);    
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    position: sticky;
}

.msg-head-img{
    border-radius: 50%;
    width:40px;
    float:left;
    align-items: center;
}

.name{
    width:auto;
    float: left;
    margin-top: 10px;
    align-items: center;
}

.name h4{
    font-size: 20px;
    margin-left: 10px;
    color: aliceblue;
}

.chat-page{
    padding: 0 0 0 0;
}

.msg-inbox{
    overflow: hidden;
    padding-bottom:30px;
}

.chats{
    padding: 0 15px 0 25px;
}

.msg_page{
    height: 516px;
    overflow-y:auto;
}

.received-chats-img{
    display: inline-block;
    width: 20px;
}

.received-msg{
    display:inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;;
    width: 92%;
    max-width: 50%;
}

.received-msg-inbox{
    width: 57%;
}
.received-msg-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius:30px;
    color:white;
    font-size:14px;
    margin:0;
    padding: 5px 10p 5px 12px;
    width: 100%;    
}

.outgoing-chats{
    overflow: hidden;
    margin: 26px 20px;
    display: flex;
}

.outgoing-chats-msg p{
    background: #5900ff none repeat scroll 0 0;
    color:#efefef;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    margin: 0;
    color: #efefef;
    padding: 5px 10px 5px 12px;
    width: auto;
    justify-self: right;
}

.outgoing-chats-msg{

    justify-content: flex-end;
    width: inherit;
    margin-left:auto;
    max-width: 50%;
}

.outgoing-chats-img{
    display: inline-block;
    width: 20px;
    
}

.msg-bottom{
    max-width: 500;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.5) ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.input-group{
    outline: none !important;
    border-radius: 20px;
    width: 80%;
    background-color: transparent;
}

.form-control{
    border-color:black;
    border-radius: 20px !important;
    margin-right: 10px;
}

.input-group-text{
    background: transparent !important;
    border: none !important;
    color: black;
    padding: 0px;
}
button{
    height: auto;
    width: auto;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(350deg, #1fd1f9 0%, #b621fe 74%);
    border-radius: 10px;
    border-color:black ;
}
i{
    color: white;
}

.received-msg-inbox p{
    color: white;
}